HTMLJSCSS
.navBardemoBasicUsage md-content .ext-content {
    padding: 50px;
    margin: 20px;
    background-color: #FFF2E0; }

.hint {
    left: 2px;
    right: auto;
    bottom: 2px;
    /* Copy styles from ng-messages */
    font-size: 12px;
    line-height: 14px;
    margin-top: 40px;
    transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
    /* Set our own color */
    color: #c53232;
}